.main-content {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form {
    padding: 20px 25px 20px 25px;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 13px;
    -webkit-box-shadow: 0px 22px 42px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 22px 42px -13px rgba(0,0,0,0.75);
    box-shadow: 0px 22px 42px -13px rgba(0,0,0,0.75);
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 4px;
}

label {
    font-size: 15px;
}

.header {
    margin-bottom: 8px;
    font-size: 18px;
}

.input {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #000;
    border-radius: 8px;
}

.btn {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    background-color: #07002a;
    color: #fff;
    border: none;
    border-radius: 8px;
    margin-top: 16px;
    cursor: pointer;
    transition: all ease 300ms;
}

.btn:hover {
    opacity: 0.7;
}

.btn:active {
    transform: scale(0.98);
}