<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/register.css">
    <script type="module" src="/js/registerPosition.js"></script>
    <title>Agregar cargo</title>
</head>
<body>
    <main>
        <div class="main-content">
            <div class="form">
                <div class="header">
                    <h1>Agregar nuevo cargo</h1>
                </div>
                <div class="form-group">
                    <label for="position">Nombre del cargo</label>
                    <input type="text" name="position" id="position" class="input">
                </div>
                <button class="btn" id="btnRegister">Agregar cargo</button>
            </div>
        </div>
    </main>
</body>
</html>