<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <script type="module" src="/js/main.js"></script>
    <title>Inicio</title>
</head>
<body>
    <main>
        <div class="main-content">
            <div class="card-item" id="users">
                <div class="card-icon">
                    <i class="fa-solid fa-users"></i>
                </div>
                <div class="card-body">
                    <span>Ver usuarios</span>
                </div>
            </div>
            <div class="card-item" id="registerUser">
                <div class="card-icon">
                    <i class="fa-solid fa-user-plus"></i>
                </div>
                <div class="card-body">
                    <span>Agregar usuario</span>
                </div>
            </div>
            <div class="card-item" id="registerPosition">
                <div class="card-icon">
                    <i class="fa-solid fa-clipboard-list"></i>
                </div>
                <div class="card-body">
                    <span>Agregar cargo</span>
                </div>
            </div>
        </div>
    </main>
    <script src="https://kit.fontawesome.com/9e15f108bc.js" crossorigin="anonymous"></script>
</body>
</html>