<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/register.css">
    <script type="module" src="/js/register.js"></script>
    <title>Agregar usuario</title>
</head>
<body>
    <main>
        <div class="main-content">
            <div class="form">
                <div class="header">
                    <h1>Agregar usuario</h1>
                </div>
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="name" class="input">
                </div>
                <div class="form-group">
                    <label for="lastName">Apellido</label>
                    <input type="text" name="lastName" id="lastName" class="input">
                </div>
                <div class="form-group">
                    <label for="email">Cargo</label>
                    <select name="position" id="position" class="input">
                        <option value="">Selecciona una opción</option>
                    </select>
                </div>
                <button class="btn" id="btnRegister">Agregar usuario</button>
            </div>
        </div>
    </main>
</body>
</html>